* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    user-select: none;
}

#back_ground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/premium-vector/mountain-landscape-with-night-sky-illustration_105940-365.jpg");
    background-size: cover;
}

.user_window {
    width: 100%;
    min-width: 50%;
    transition: all ease 1s;
}

#user_window {
    width: 50%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 30px white;
    background-color: rgba(0, 0, 0, 0.205);
    backdrop-filter: blur(25px);
    border: solid 0.5px white;
    border-radius: 5px;
    color: white;
    transition: ease all 0.3s;
    /*
    width: 80%;
    */
}

#quiz_window,
#points_window {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    transition: ease 0.5s all;
    transition: all 0.25s ease;
}

#points_window {
    display: none;
    justify-content: center;
    flex-flow: wrap;
    transition: all 0.5s ease;
}

#question_part {
    width: 100%;
    max-height: 30%;
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#awnser_part {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#question_navigate {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
    gap: 0px 5px;
}

.question_navigate_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.24);
    border: solid 0.5px white;
    border-radius: 1px;
    cursor: pointer;
}

.question_navigate_buttons:hover {
    background-color: rgba(0, 0, 0, 0.349);

}

#question_text {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#awnser_list {
    width: 85%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 5%;
}

#awnser_list>* {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.25s ease;
    border-radius: 5px;
}

#awnser_list>*>* {
    margin-left: 10px;
}

#awnser_list>*:hover {
    color: black;
    background-color: rgb(234, 234, 234) !important;
}

#back_button {
    visibility: hidden;
}

#finish_button {
    display: none;
}

.question_awnser {
    border: solid 0.1px white;
}

#user_score_info {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#global_score_info {
    width: 0;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: width 0.25s ease;
    border-radius: 5px;
}

#global_score_info>* {
    display: none;
    opacity: 0;
    transition: opacity 0.25s ease;
}

#up_score_part {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-size: 150%;
}

#down_score_part {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 5%;
    border-radius: 5px;
}

#down_score_percent {
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 600%;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.507);
    border: 0.5px solid white;
    border-radius: 5px;
}

#down_score_med {
    font-size: 180%;
    transition: margin-bottom 0.25s ease;
}

#open_global_score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    width: 40%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.349);
    border: solid 0.5px white;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color ease 0.2s, opacity 0.25s ease;
}

#open_global_score:hover {
    background-color: rgba(0, 0, 0, 0.288);
}

#score_rank_part {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user_navigate_buttons {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score_rank {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#score_rank_buttons {
    width: 100%;
    height: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score_rank_buttons>* {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score_rank_lines {
    width: 100%;
    height: 88.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.score_rank_line {
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    transition: opacity 0.25s ease;
}

.score_rank_line:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.507);
    font-weight: bold;
    border: none;
}

.score_rank_line:nth-child(2) {
    border: none;
}

#score_name {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#score_name_text {
    margin: 0px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#score_number,
#score_time {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user_clock_space {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#user_time_clock {
    width: 100px;
    height: 80%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    background-color: white;
}